html, body { height: 100%; }


:root {
  --toolbarHeight: 36px;
}

.treeRef{
border: solid;
border-width : thin;
width:500px;
height:200px;
}

.FilterItem{
border: solid;
left:20px;
position: absolute;
border-width : thin;
width:300px;
max-width:300px;
}

.Wrapper{
box-position:border-box;
border1: solid;
border-width : thic;
width:100%;
height:100%;
border-color:aqua;
}

.TestWrapper{
position1: absolute;
border1:solid;
border-width : thic;
width:100%;
height:100%;/*500px;*/
border-color:aqua;
}

.LayoutItem{
border: solid;
border-width : thin;
border-color:black;
}


.TestBorder{
border: solid;
border-width : thic;
border-color:blue;
height:100%;
display: flex;
}

.TestContent{
border: solid;
border-width : thic;
border-color:red;
height:100%;
flex: 1 1 auto;
display:flex;
}

/*вычитаем высоту тулбара*/
.ToolbarViewContent{
height: calc(100% - var(--toolbarHeight));
}

.Grid1{
border-width:4px;
border-color:blue;
overflow:hidden;
height: 100%;
position: relative;
}

.SheetTreeDropDown{
width:100%;
}

.Toolbar{
border-width:4px;
border-color:red;
overflow:hidden;
height: 50px;
position: relative;

}

.SheetTree{
width:500px
}

.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow .tag{
background-color: #d9ff96;
}

