html, body { height: 100%; }


:root {
  --toolbarHeight: 36px;
}

.treeRef{
border: solid;
border-width : thin;
width:500px;
height:200px;
}

.FilterItem{
border: solid;
left:20px;
position: absolute;
border-width : thin;
width:300px;
max-width:300px;
}

.Wrapper{
box-position:border-box;
border1: solid;
border-width : thic;
width:100%;
height:100%;
border-color:aqua;
}

.TestWrapper{
position1: absolute;
border1:solid;
border-width : thic;
width:100%;
height:100%;/*500px;*/
border-color:aqua;
}

.LayoutItem{
border: solid;
border-width : thin;
border-color:black;
}


.TestBorder{
border: solid;
border-width : thic;
border-color:blue;
height:100%;
display: flex;
}

.TestContent{
border: solid;
border-width : thic;
border-color:red;
height:100%;
flex: 1 1 auto;
display:flex;
}

.ToolbarViewContent{
/*вычитаем высоту тулбара*/

height: calc(100% - var(--toolbarHeight));
width: 100%;
position: absolute;
}

.Grid1{
border-width:4px;
border-color:blue;
overflow:hidden;
height: 100%;
position: relative;
}


.ToolbarAdditionalItem{
width:100%;
text-align: center;
}

.Toolbar{
border-width:4px;
border-color:red;
overflow:hidden;
height: 50px;
position: relative;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cancelOperation{


    font-weight: bold;
    color: red;
    /*
    background-color: #d9ff96;
border: solid;
border-width : thin;
    border-color:red;
    */
}

.spinner {
   vertical-align: middle;
   /*-webkit-animation: spin 1s infinite linear;*/
}

.create
{
background-image: url('../images/chat.svg');
background-repeat: no-repeat;
padding-left: 30px;  /* width of the image plus a little extra padding */
display: block;  /* may not need this, but I've found I do */
}

.SheetTree{
width:500px
}

.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow .tag{
background-color: #d9ff96;
}

/*
.ag-row-hover {
    background-color: #dfdfff !important;
}

.ag-column-hover {
    background-color: #dfffdf !important;
}

*/

.ag-cell:focus{
    border-color: #0091EA !important;
    border-width: 2px !important;

}

.number-cell{
    text-align: right;
    float: right;
}

.text-cell{
    text-align: left;
    float: left;
    margin-left: 5px;
}

.image-in-cell{
    float: left;
    margin-top: 5px;
}

.cell-button-span{
    float: right;
    /*
    margin-top: 4px;
    margin-right: 1px;
    height: 16px;
    width: 16px;
    */
}
.color-scheme-img{
    height: 10px;
    margin-left: 100px;
}
.cell-clear-button{
    height: 16px;
    width: 16px;
}

.cell-wrapper{

}

.ag-cell-range-selected{
    border-color: #0091EA !important;
    border-width: 2px !important;
}


.chart-wrapper{
height:100%;
width: 100%;
}

.cell-wrapper-center{
  width: 100%;
  text-align: center;
}

.checkbox-in-cell{
    display: inline-block;
}

.layout-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.custom-tooltip {
    position: absolute;
    width: 300px;
    height: 70px;

    border: 1px solid cornflowerblue;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
    backgroundColor: #eff5b8;

}

.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}

.custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}


@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

