.treeRef{
border: solid;
border-width : thin;
width:500px;
height:200px;
}

.FilterItem{
border: solid;
left:20px;
position: absolute;
border-width : thin;
width:300px;
max-width:300px;
}

.Wrapper{
position: absolute;
border1: solid;
border-width : thic;
width:100%;
height:100%;
border-color:aqua;
}

.TestWrapper{
position1: absolute;
border1:solid;
border-width : thic;
width:100%;
height:100%;/*500px;*/
border-color:aqua;
}

.TestLayoutItem{
border: solid;
border-width : thic;
border-color:red;
}

.Grid{
border-width:4px;
border-color:blue;
overflow:hidden;
height: 700px;
position: relative;
}


.Toolbar{
border-width:4px;
border-color:red;
overflow:hidden;
height: 50px;
position: relative;

}

.SheetTree{
width:500px
}